{
  "openapi": "3.1.0",
  "info": {
    "title": "Stats API for the Battlefield series",
    "description": "This project also has a <a href=\"https://top.gg/bot/714524944783900794\" target=\"_blank\">Discord bot</a>, allowing anyone in your server to check their Battlefield stats via simple commands.<br><br>Language tags (lang) for both Battlefield 1 and Battlefield 5 are based on <a href=\"https://www.oracle.com/java/technologies/javase/jdk8-jre8-suported-locales.html\" target=\"_blank\">Java 8 language tags.</a> (response keys do not change based on the language tags, only the values do).<br><br>Data for Battlefield 2 is retrieved from the two revive projects: <a href=\"https://www.bf2hub.com\" target=\"_blank\">BF2Hub</a> and <a href=\"https://playbf2.tilda.ws/en\" target=\"_blank\">PlayBF2</a>.<br><br>Data for Battlefield 2142 is retrieved from the <a href=\"https://battlefield2142.co/\" target=\"_blank\">BF2142 Reclamation</a> project.<br><br>All other titles are still managed by EA/Dice.<br><br>If you discover any issues or have suggestions for new features, post them in the Community Network Discord: <a href=\"https://discord.gg/zMuxW6c\" target=\"_blank\">discord.gg/zMuxW6c</a>.<br><br>If you want to support the project, consider <a href=\"https://github.com/sponsors/community-network\" target=\"_blank\">becoming a sponsor on GitHub</a>.",
    "version": "1.3.0"
  },
  "servers": [
    {
      "url": "https://api.gametools.network/",
      "description": "Main production environment"
    },
    {
      "url": "https://jp-api.gametools.network/",
      "description": "Production environment in japan"
    },
    {
      "url": "http://localhost:8787/",
      "description": "Development environment"
    }
  ],
  "paths": {
    "/bf1942/servers/": {
      "get": {
        "tags": ["Battlefield 1942"],
        "summary": "Get a list of servers based on given name",
        "operationId": "bf1942_servers_bf1942_servers__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "IP:port or hostname/servername of the server you want to search for",
              "title": "Name"
            },
            "description": "IP:port or hostname/servername of the server you want to search for",
            "example": "Super@"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/LegacyBfQueryType" }],
              "description": "Type of server property you want to search for",
              "default": "hostname",
              "title": "Type"
            },
            "description": "Type of server property you want to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "serverlist based on given name",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OlderTitleSearch" },
                "example": {
                  "servers": [
                    {
                      "prefix": "   =T1P= #1 CLASSIC MAPS RANKED COOP             WWW.T1P-CLAN.ENJIN.COM",
                      "playerAmount": 0,
                      "maxPlayers": 10,
                      "map": "Operation Clean Sweep",
                      "serverLink": "https://www.bf2hub.com/server/89.203.248.135:16570"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting the serverlist",
            "content": {
              "application/json": {
                "example": { "errors": ["error getting server info"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf1942/statusarray/": {
      "get": {
        "tags": ["Battlefield 1942"],
        "summary": "Get the player- / serveramount for all regions from database gathered every hour.",
        "operationId": "bf1942_statusarray_bf1942_statusarray__get",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 30,
              "minimum": 1,
              "description": "Number of days to get historic values for",
              "default": 7,
              "title": "Days"
            },
            "description": "Number of days to get historic values for"
          }
        ],
        "responses": {
          "200": {
            "description": "start and end time are EPOCH UTC timestamps, the arrays below it are from start to end time every hour as a value",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusArray" },
                "example": {
                  "data": {
                    "serverAmount": [0, 0, 0, 0],
                    "soldierAmount": [0, 0, 0, 0],
                    "queueAmount": [0, 0, 0, 0],
                    "spectatorAmount": [0, 0, 0, 0],
                    "timeStamps": [
                      "2021-07-05T11:00:00+00:00",
                      "2021-07-05T12:00:00+00:00",
                      "2021-07-05T13:00:00+00:00",
                      "2021-07-05T14:00:00+00:00"
                    ],
                    "start": 1606672800,
                    "end": 1609264800
                  }
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting statusgraph",
            "content": {
              "application/json": {
                "example": { "errors": ["Error connecting to the database"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf1942/serverarray/": {
      "get": {
        "tags": ["Battlefield 1942"],
        "summary": "Get the servers playeramount over time",
        "operationId": "loggedServerData_bf1942_serverarray__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "IP:port or hostname/servername of the server you want to search for",
              "title": "Name"
            },
            "description": "IP:port or hostname/servername of the server you want to search for",
            "example": "Super@"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/LegacyBfQueryType" }],
              "description": "Type of server property you want to search for",
              "default": "hostname",
              "title": "Type"
            },
            "description": "Type of server property you want to search for"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 7,
              "minimum": 1,
              "description": "Number of days to get historic values for",
              "default": 7,
              "title": "Days"
            },
            "description": "Number of days to get historic values for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf1942/status/": {
      "get": {
        "tags": ["Battlefield 1942"],
        "summary": "Get the player- / serveramount for all regions.",
        "operationId": "bf1942status_bf1942_status__get",
        "responses": {
          "200": {
            "description": "serverlist based on given name",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OlderGameStatus" },
                "example": {
                  "servers": [
                    {
                      "prefix": "   =T1P= #1 CLASSIC MAPS RANKED COOP             WWW.T1P-CLAN.ENJIN.COM",
                      "playerAmount": 0,
                      "maxPlayers": 10,
                      "map": "Operation Clean Sweep",
                      "serverLink": "https://www.bf2hub.com/server/89.203.248.135:16570"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting the serverlist",
            "content": {
              "application/json": {
                "example": { "errors": ["error getting server info"] }
              }
            }
          }
        }
      }
    },
    "/bfvietnam/servers/": {
      "get": {
        "tags": ["Battlefield Vietnam"],
        "summary": "Get a list of servers based on given name or ip:port",
        "operationId": "bfbc2servers_bfvietnam_servers__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "IP:port or hostname/servername of the server you want to search for",
              "title": "Name"
            },
            "description": "IP:port or hostname/servername of the server you want to search for",
            "example": "Super@"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/LegacyBfQueryType" }],
              "description": "Type of server property you want to search for",
              "default": "hostname",
              "title": "Type"
            },
            "description": "Type of server property you want to search for"
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/BfVietnamPlatform" }],
              "description": "Service/platform the server uses",
              "default": "qtracker",
              "title": "Service"
            },
            "description": "Service/platform the server uses"
          }
        ],
        "responses": {
          "200": {
            "description": "serverlist based on given name",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OlderTitleSearch" },
                "example": {
                  "servers": [
                    {
                      "prefix": "   =T1P= #1 CLASSIC MAPS RANKED COOP             WWW.T1P-CLAN.ENJIN.COM",
                      "playerAmount": 0,
                      "maxPlayers": 10,
                      "map": "Operation Clean Sweep",
                      "serverLink": "https://www.bf2hub.com/server/89.203.248.135:16570"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting the serverlist",
            "content": {
              "application/json": {
                "example": { "errors": ["error getting server info"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bfvietnam/statusarray/": {
      "get": {
        "tags": ["Battlefield Vietnam"],
        "summary": "Get the player- / serveramount for all regions from database gathered every hour.",
        "operationId": "printLoggedData_bfvietnam_statusarray__get",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/BfVietnamPlatform" }],
              "description": "Platform/service to get amounts for",
              "default": "openspy",
              "title": "Service"
            },
            "description": "Platform/service to get amounts for"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 30,
              "minimum": 1,
              "description": "Number of days to get historic values for",
              "default": 7,
              "title": "Days"
            },
            "description": "Number of days to get historic values for"
          }
        ],
        "responses": {
          "200": {
            "description": "start and end time are EPOCH UTC timestamps, the arrays below it are from start to end time every hour as a value",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusArray" },
                "example": {
                  "data": {
                    "serverAmount": [0, 0, 0, 0],
                    "soldierAmount": [0, 0, 0, 0],
                    "queueAmount": [0, 0, 0, 0],
                    "spectatorAmount": [0, 0, 0, 0],
                    "timeStamps": [
                      "2021-07-05T11:00:00+00:00",
                      "2021-07-05T12:00:00+00:00",
                      "2021-07-05T13:00:00+00:00",
                      "2021-07-05T14:00:00+00:00"
                    ],
                    "start": 1606672800,
                    "end": 1609264800
                  }
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting statusgraph",
            "content": {
              "application/json": {
                "example": { "errors": ["Error connecting to the database"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bfvietnam/serverarray/": {
      "get": {
        "tags": ["Battlefield Vietnam"],
        "summary": "Get the servers playeramount over time",
        "operationId": "loggedServerData_bfvietnam_serverarray__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "IP:port or hostname/servername of the server you want to search for",
              "title": "Name"
            },
            "description": "IP:port or hostname/servername of the server you want to search for",
            "example": "Super@"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/LegacyBfQueryType" }],
              "description": "Type of server property you want to search for",
              "default": "hostname",
              "title": "Type"
            },
            "description": "Type of server property you want to search for"
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/BfVietnamPlatform" }],
              "description": "Platform/service to get amounts for",
              "default": "openspy",
              "title": "Service"
            },
            "description": "Platform/service to get amounts for"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 7,
              "minimum": 1,
              "description": "Number of days to get historic values for",
              "default": 7,
              "title": "Days"
            },
            "description": "Number of days to get historic values for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bfvietnam/status/": {
      "get": {
        "tags": ["Battlefield Vietnam"],
        "summary": "Get the player- / serveramount for all regions.",
        "operationId": "bfvietnamstatus_bfvietnam_status__get",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/BfVietnamPlatform" }],
              "description": "Platform/service to get amounts for",
              "default": "openspy",
              "title": "Service"
            },
            "description": "Platform/service to get amounts for"
          }
        ],
        "responses": {
          "200": {
            "description": "serverlist based on given name",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OlderGameStatus" },
                "example": {
                  "servers": [
                    {
                      "prefix": "   =T1P= #1 CLASSIC MAPS RANKED COOP             WWW.T1P-CLAN.ENJIN.COM",
                      "playerAmount": 0,
                      "maxPlayers": 10,
                      "map": "Operation Clean Sweep",
                      "serverLink": "https://www.bf2hub.com/server/89.203.248.135:16570"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting the serverlist",
            "content": {
              "application/json": {
                "example": { "errors": ["error getting server info"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2/servers/": {
      "get": {
        "tags": ["Battlefield 2"],
        "summary": "Get a list of servers based on given name or ip:port",
        "operationId": "bf2servers_bf2_servers__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "IP:port or hostname/servername of the server you want to search for",
              "title": "Name"
            },
            "description": "IP:port or hostname/servername of the server you want to search for",
            "example": "Super@"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/LegacyBfQueryType" }],
              "description": "Type of server property you want to search for",
              "default": "hostname",
              "title": "Type"
            },
            "description": "Type of server property you want to search for"
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2Platform" }],
              "description": "Service/platform the server uses",
              "default": "bf2hub",
              "title": "Service"
            },
            "description": "Service/platform the server uses"
          }
        ],
        "responses": {
          "200": {
            "description": "serverlist based on given name",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OlderTitleSearch" },
                "example": {
                  "servers": [
                    {
                      "prefix": "   =T1P= #1 CLASSIC MAPS RANKED COOP             WWW.T1P-CLAN.ENJIN.COM",
                      "playerAmount": 0,
                      "maxPlayers": 10,
                      "map": "Operation Clean Sweep",
                      "serverLink": "https://www.bf2hub.com/server/89.203.248.135:16570"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting the serverlist",
            "content": {
              "application/json": {
                "example": { "errors": ["error getting server info"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2/stats/": {
      "get": {
        "tags": ["Battlefield 2"],
        "summary": "Get general stats for the given player",
        "operationId": "bf2stats_bf2_stats__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Name of the player to get stats for",
              "title": "Name"
            },
            "description": "Name of the player to get stats for",
            "example": "zimzimzallabim"
          },
          {
            "name": "playerid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "integer" }, { "type": "null" }],
              "description": "ID of the player to get stats for",
              "title": "Playerid"
            },
            "description": "ID of the player to get stats for",
            "example": 500076608
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2Platform" }],
              "description": "Platform/service the player uses",
              "default": "bf2hub",
              "title": "Platform"
            },
            "description": "Platform/service the player uses"
          }
        ],
        "responses": {
          "200": {
            "description": "General stats of the given player",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Bf2MainStats" },
                "example": {
                  "Rank": "6",
                  "SPM": 1,
                  "KPM": 0.3,
                  "Win": "47%",
                  "Best Class": "Support",
                  "Accuracy": "17.38%",
                  "Time played": "3 days, 15:29:28",
                  "K/D": 0.49,
                  "Kills": 1549,
                  "Deaths": 3159,
                  "Wins": 157,
                  "Loses": 171
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["playername not found"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2/leaderboard/": {
      "get": {
        "tags": ["Battlefield 2"],
        "summary": "Get leaderboard of bf2",
        "operationId": "bf2leaderboard_bf2_leaderboard__get",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2Platform" }],
              "description": "Platform/service to use for the leaderboard",
              "default": "bf2hub",
              "title": "Platform"
            },
            "description": "Platform/service to use for the leaderboard"
          }
        ],
        "responses": {
          "200": {
            "description": "Get leaderboard of bf2",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Bf2Leaderboard" },
                "example": {
                  "players": [
                    {
                      "name": "The_Man_13",
                      "id": 43812139,
                      "score": 2729296,
                      "rank": 21,
                      "countryCode": "US",
                      "secondsPlayed": 44918449,
                      "timePlayed": "519 days, 21:20:49"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["playername not found"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2/weapons/": {
      "get": {
        "tags": ["Battlefield 2"],
        "summary": "Get weapon stats for the given player",
        "operationId": "bf2weapons_bf2_weapons__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Name of the player to get stats for",
              "title": "Name"
            },
            "description": "Name of the player to get stats for",
            "example": "zimzimzallabim"
          },
          {
            "name": "playerid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "integer" }, { "type": "null" }],
              "description": "ID of the player to get stats for",
              "title": "Playerid"
            },
            "description": "ID of the player to get stats for",
            "example": 500076608
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2Platform" }],
              "description": "Platform/service the player uses",
              "default": "bf2hub",
              "title": "Platform"
            },
            "description": "Platform/service the player uses"
          }
        ],
        "responses": {
          "200": {
            "description": "Weapon stats of the given player",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Bf2WeaponStats" },
                "example": {
                  "weapons": [
                    {
                      "name": "Light Machine Gun",
                      "kills": 525,
                      "killDeath": 0.57,
                      "killsPerMinute": 0.42,
                      "accuracy": "6.03%"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["playername not found"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2/vehicles/": {
      "get": {
        "tags": ["Battlefield 2"],
        "summary": "Get vehicle stats for the given player",
        "operationId": "bf2vehicles_bf2_vehicles__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Name of the player to get stats for",
              "title": "Name"
            },
            "description": "Name of the player to get stats for",
            "example": "zimzimzallabim"
          },
          {
            "name": "playerid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "integer" }, { "type": "null" }],
              "description": "ID of the player to get stats for",
              "title": "Playerid"
            },
            "description": "ID of the player to get stats for",
            "example": 500076608
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2Platform" }],
              "description": "Platform/service the player uses",
              "default": "bf2hub",
              "title": "Platform"
            },
            "description": "Platform/service the player uses"
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle stats of the given player",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Bf2VehicleStats" },
                "example": { "vehicles": [{ "name": "Armor", "kills": 30 }] }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["playername not found"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2/classes/": {
      "get": {
        "tags": ["Battlefield 2"],
        "summary": "Get class/kit stats for the given player",
        "operationId": "bf2classes_bf2_classes__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Name of the player to get stats for",
              "title": "Name"
            },
            "description": "Name of the player to get stats for",
            "example": "zimzimzallabim"
          },
          {
            "name": "playerid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "integer" }, { "type": "null" }],
              "description": "ID of the player to get stats for",
              "title": "Playerid"
            },
            "description": "ID of the player to get stats for",
            "example": 500076608
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2Platform" }],
              "description": "Platform/service the player uses",
              "default": "bf2hub",
              "title": "Platform"
            },
            "description": "Platform/service the player uses"
          }
        ],
        "responses": {
          "200": {
            "description": "Class/kit stats of the given player",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Bf2ClassStats" },
                "example": {
                  "classes": [
                    {
                      "name": "Anti-Tank",
                      "killDeath": 0.53,
                      "timeAsClass": "2:06:09"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["playername not found"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2/status/": {
      "get": {
        "tags": ["Battlefield 2"],
        "summary": "Get the current player-/server amount",
        "operationId": "bf2_status_bf2_status__get",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2PlatformAll" }],
              "description": "Platform/service to get amounts from",
              "default": "all",
              "title": "Service"
            },
            "description": "Platform/service to get amounts from"
          }
        ],
        "responses": {
          "200": {
            "description": "List of regions with current server and player amount (older Battlefield titles only return the \"all\"-region)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OlderGameStatus" },
                "example": {
                  "regions": [
                    {
                      "region": "ALL",
                      "serverAmount": 167,
                      "soldierAmount": 630
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2/serverarray/": {
      "get": {
        "tags": ["Battlefield 2"],
        "summary": "Get the servers playeramount over time",
        "operationId": "loggedServerData_bf2_serverarray__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "IP:port or hostname/servername of the server you want to search for",
              "title": "Name"
            },
            "description": "IP:port or hostname/servername of the server you want to search for",
            "example": "Super@"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/LegacyBfQueryType" }],
              "description": "Type of server property you want to search for",
              "default": "hostname",
              "title": "Type"
            },
            "description": "Type of server property you want to search for"
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2Platform" }],
              "description": "Platform/service to get amounts for",
              "default": "bf2hub",
              "title": "Service"
            },
            "description": "Platform/service to get amounts for"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 7,
              "minimum": 1,
              "description": "Number of days to get historic values for",
              "default": 7,
              "title": "Days"
            },
            "description": "Number of days to get historic values for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2/statusarray/": {
      "get": {
        "tags": ["Battlefield 2"],
        "summary": "Get historic player-/server amounts (gathered every hour)",
        "operationId": "bf2_status_array_bf2_statusarray__get",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2Platform" }],
              "description": "Platform/service to get amounts for",
              "default": "bf2hub",
              "title": "Service"
            },
            "description": "Platform/service to get amounts for"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 30,
              "minimum": 1,
              "description": "Number of days to get historic values for",
              "default": 7,
              "title": "Days"
            },
            "description": "Number of days to get historic values for"
          }
        ],
        "responses": {
          "200": {
            "description": "Historical player amounts (list of values, list of respective timestamps as well as timestamps for start and end time)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusArray" },
                "example": {
                  "soldierAmount": [744, 751, 775, 785],
                  "timeStamps": [
                    "2021-10-19T09:00:00+00:00",
                    "2021-10-19T10:00:00+00:00",
                    "2021-10-19T11:00:00+00:00",
                    "2021-10-19T12:00:00+00:00"
                  ],
                  "startTime": "2021-10-19T09:00:00+00:00",
                  "endTime": "2021-10-19T12:00:00+00:00"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2142/servers/": {
      "get": {
        "tags": ["Battlefield 2142"],
        "summary": "Get a list of servers based on given name or ip:port",
        "operationId": "bf2142servers_bf2142_servers__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "IP:port or hostname/servername of the server you want to search for",
              "title": "Name"
            },
            "description": "IP:port or hostname/servername of the server you want to search for",
            "example": "Super@"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/LegacyBfQueryType" }],
              "description": "Type of server property you want to search for",
              "default": "hostname",
              "title": "Type"
            },
            "description": "Type of server property you want to search for"
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2142Platform" }],
              "description": "Service/platform the server uses",
              "default": "openspy",
              "title": "Service"
            },
            "description": "Service/platform the server uses"
          }
        ],
        "responses": {
          "200": {
            "description": "serverlist based on given name",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OlderTitleSearch" },
                "example": {
                  "servers": [
                    {
                      "prefix": "   =T1P= #1 CLASSIC MAPS RANKED COOP             WWW.T1P-CLAN.ENJIN.COM",
                      "playerAmount": 0,
                      "maxPlayers": 10,
                      "map": "Operation Clean Sweep",
                      "serverLink": "https://www.bf2hub.com/server/89.203.248.135:16570"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting the serverlist",
            "content": {
              "application/json": {
                "example": { "errors": ["error getting server info"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2142/statusarray/": {
      "get": {
        "tags": ["Battlefield 2142"],
        "summary": "Get the player- / serveramount for all regions from database gathered every hour.",
        "operationId": "printLoggedData_bf2142_statusarray__get",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2142Platform" }],
              "description": "Platform/service to get amounts for",
              "default": "openspy",
              "title": "Service"
            },
            "description": "Platform/service to get amounts for"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 30,
              "minimum": 1,
              "description": "Number of days to get historic values for",
              "default": 7,
              "title": "Days"
            },
            "description": "Number of days to get historic values for"
          }
        ],
        "responses": {
          "200": {
            "description": "start and end time are EPOCH UTC timestamps, the arrays below it are from start to end time every hour as a value",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusArray" },
                "example": {
                  "data": {
                    "serverAmount": [0, 0, 0, 0],
                    "soldierAmount": [0, 0, 0, 0],
                    "queueAmount": [0, 0, 0, 0],
                    "spectatorAmount": [0, 0, 0, 0],
                    "timeStamps": [
                      "2021-07-05T11:00:00+00:00",
                      "2021-07-05T12:00:00+00:00",
                      "2021-07-05T13:00:00+00:00",
                      "2021-07-05T14:00:00+00:00"
                    ],
                    "start": 1606672800,
                    "end": 1609264800
                  }
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting statusgraph",
            "content": {
              "application/json": {
                "example": { "errors": ["Error connecting to the database"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2142/serverarray/": {
      "get": {
        "tags": ["Battlefield 2142"],
        "summary": "Get the servers playeramount over time",
        "operationId": "loggedServerData_bf2142_serverarray__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "IP:port or hostname/servername of the server you want to search for",
              "title": "Name"
            },
            "description": "IP:port or hostname/servername of the server you want to search for",
            "example": "Super@"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/LegacyBfQueryType" }],
              "description": "Type of server property you want to search for",
              "default": "hostname",
              "title": "Type"
            },
            "description": "Type of server property you want to search for"
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2142Platform" }],
              "description": "Platform/service to get amounts for",
              "default": "openspy",
              "title": "Service"
            },
            "description": "Platform/service to get amounts for"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 7,
              "minimum": 1,
              "description": "Number of days to get historic values for",
              "default": 7,
              "title": "Days"
            },
            "description": "Number of days to get historic values for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf2142/status/": {
      "get": {
        "tags": ["Battlefield 2142"],
        "summary": "Get the player- / serveramount for all regions.",
        "operationId": "bfbc2servers_bf2142_status__get",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Bf2142Platform" }],
              "description": "Platform/service to get amounts for",
              "default": "openspy",
              "title": "Service"
            },
            "description": "Platform/service to get amounts for"
          }
        ],
        "responses": {
          "200": {
            "description": "serverlist based on given name",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OlderGameStatus" },
                "example": {
                  "servers": [
                    {
                      "prefix": "   =T1P= #1 CLASSIC MAPS RANKED COOP             WWW.T1P-CLAN.ENJIN.COM",
                      "playerAmount": 0,
                      "maxPlayers": 10,
                      "map": "Operation Clean Sweep",
                      "serverLink": "https://www.bf2hub.com/server/89.203.248.135:16570"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting the serverlist",
            "content": {
              "application/json": {
                "example": { "errors": ["error getting server info"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf3/servers/": {
      "get": {
        "tags": ["Battlefield 3"],
        "summary": "Get a list of servers based on given name",
        "operationId": "bf3servers_bf3_servers__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the server you want to search for",
              "title": "Name"
            },
            "description": "Name of the server you want to search for",
            "example": "Super@"
          },
          {
            "name": "gamemode_filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Gamemode Filters"
            }
          },
          {
            "name": "map_filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Map Filters"
            }
          },
          {
            "name": "player_filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Player Filters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "serverlist based on given name",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BattlelogSearch" },
                "example": {
                  "servers": [
                    {
                      "server": "RN1 EU I CQ CLASSIC I Standard Maps I No Rules I 4Netplayers",
                      "map": "Zavod 311",
                      "playerAmount": 0,
                      "maxPlayers": 32,
                      "inQueue": 0,
                      "serverLink": "https://battlelog.battlefield.com/bf4/servers/show/pc/c76777b2-5d81-447a-aa26-471deb0ef0df"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting the serverlist",
            "content": {
              "application/json": {
                "example": { "errors": ["error getting server info"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf3/detailedserver/": {
      "get": {
        "tags": ["Battlefield 3"],
        "summary": "Get detailed info about 1 server",
        "operationId": "bf3detailedservers_bf3_detailedserver__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Name of the server you want to search for",
              "title": "Name"
            },
            "description": "Name of the server you want to search for",
            "example": "Super@"
          },
          {
            "name": "gameid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Id of the server you want to search for",
              "title": "Gameid"
            },
            "description": "Id of the server you want to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "detailed serverinfo based on given name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bf3DetailedServerInfo"
                },
                "example": {
                  "playerAmount": 54,
                  "maxPlayerAmount": 64,
                  "inQueue": 0,
                  "prefix": "[BoB]#1 \"All Maps CQ\" we recruit join our DISCORD: BmzZ7X5",
                  "description": "Band of Brothers - server 1 - All Maps CQ",
                  "region": "EU",
                  "country": "DE",
                  "mode": "Conquest",
                  "settings": {
                    "Misc": {
                      "MINIMAP SPOTTING": "on",
                      "NAMETAGS": "on",
                      "HUD": "on",
                      "3D SPOTTING": "on",
                      "UNLIMITED MAGAZINES": "off",
                      "AIM ASSIST SLOWDOWN": "on",
                      "ALWAYS FOG": "off",
                      "FRIENDLY FIRE": "off",
                      "DISABLE SPECTATOR DELAY": "off",
                      "KILL CAM": "on",
                      "ONLY SQUAD LEADER SPAWN": "off",
                      "LENIENT LATENCY": "off",
                      "AIM ASSIST AUTO ROTATION": "on",
                      "DISABLE PRE-ROUND": "off",
                      "MAP VOTING": "on",
                      "DISABLE TEAM BALANCER": "off",
                      "REGENERATE HEALTH": "on",
                      "VEHICLE 3P CAMERA": "on",
                      "LATENCY LOCK": "off",
                      "BEHEMOTHS": "on",
                      "RELOAD FULL MAGS": "off"
                    },
                    "Scales": {
                      "VEHICLE RESPAWN TIME": "1.0",
                      "ROUND TIME LIMIT": "0.0",
                      "BULLET DAMAGE": "1.0",
                      "TICKET COUNT": "1.0",
                      "RESPAWN TIME": "1.0"
                    },
                    "Weapons": {
                      "MELEE": "on",
                      "HANDGUN": "on",
                      "CLASS GADGETS": "on",
                      "STANDARD ISSUE RIFLES": "off",
                      "LMG": "on",
                      "SELF-LOADING RIFLES": "on",
                      "SHOTGUN": "on",
                      "SMG": "on",
                      "EXPLOSIVES": "on",
                      "SINGLE-ACTION RIFLES": "on"
                    },
                    "Vehicles": { "LAND VEHICLES": "on", "AIR VEHICLES": "on" },
                    "Kits": {
                      "ELITE CLASSES": "on",
                      "SCOUT": "on",
                      "SUPPORT": "on",
                      "ASSAULT": "on",
                      "MEDIC": "on"
                    }
                  },
                  "rotation": [
                    {
                      "mapname": "Amiens",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/31/107/MP_Amiens_LandscapeLarge-e195589d.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Fort De Vaux",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/74/59/MP_Underworld_LandscapeLarge-b6c5c7e7.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Albion",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/55/40/MP_Islands_LandscapeLarge-c9d8272b.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Achi Baba",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/116/5/MP_Ridge_LandscapeLarge-8c057a19.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Caporetto",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/33/68/MP_River_LandscapeLarge-21443ae9.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Argonne Forest",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/33/69/MP_Forest_LandscapeLarge-dfbbe910.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Nivelle Nights",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/37/47/MP_Trench_LandscapeLarge-dbd1248f.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Brusilov Keep",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/91/127/MP_Bridge_LandscapeLarge-5b7f1b62.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Cape Helles",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/90/19/MP_Beachhead_LandscapeLarge-5a13c655.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Passchendaele",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/113/118/MP_Hell_LandscapeLarge-7176911c.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Ballroom Blitz",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/36/77/MP_Chateau_LandscapeLarge-244d5987.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Soissons",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/95/83/MP_Fields_LandscapeLarge-5f53ddc4.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Galicia",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/115/63/MP_Valley_LandscapeLarge-8dc1c7ca.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Heligoland Bight",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/36/46/MP_Naval_LandscapeLarge-dc2e8daf.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "River Somme",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/109/85/MP_Offensive_LandscapeLarge-6dabdea3.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Empire's Edge",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/21/3/MP_ItalianCoast_LandscapeLarge-1503eec7.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Verdun Heights",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/26/54/MP_Verdun_LandscapeLarge-1a364063.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Zeebrugge",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/45/126/MP_Harbor_LandscapeLarge-d382c7ea.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Fao Fortress",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/54/47/MP_FaoFortress_LandscapeLarge-cad1748e.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Giant's Shadow",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/35/11/MP_Giant_LandscapeLarge-dd0b93ef.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Volga River",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/106/60/MP_Volga_LandscapeLarge-6ac49c25.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Monte Grappa",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/118/81/MP_MountainFort_LandscapeLarge-8a517533.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Prise de Tahure",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/48/86/MP_Shoveltown_LandscapeLarge-d0aa5920.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Łupków Pass",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/31/32/MP_Ravines_LandscapeLarge-1fe0d3f6.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Rupture",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/67/16/MP_Graveyard_LandscapeLarge-bd1012e6.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Sinai Desert",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/40/9/MP_Desert_LandscapeLarge-d8f749da.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "St Quentin Scar",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/18/37/MP_Scar_LandscapeLarge-ee25fbd6.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Suez",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/10/48/MP_Suez_LandscapeLarge-f630fc76.jpg",
                      "mode": "Conquest"
                    },
                    {
                      "mapname": "Tsaritsyn",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/45/67/MP_Tsaritsyn_LandscapeLarge-2dbd3bf5.jpg",
                      "mode": "Conquest"
                    }
                  ],
                  "favorites": "11099"
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting detailed serverinfo",
            "content": {
              "application/json": {
                "example": { "errors": ["error getting server info"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf3/stats/": {
      "get": {
        "tags": ["Battlefield 3"],
        "summary": "Get stats from the given player for bf3",
        "description": "Available options for platform: pc, ps3, xbox360.\n\nfor nametypes you only have to fill in one of them: name (normal playername), or playerid (same as id in what it returns - fastest method).\n\nif you dont know what you need to use, just use 'name', just fill the playername in there: **/stats/?name=iiTzArcur&platform=pc",
        "operationId": "bf3stats_bf3_stats__get",
        "parameters": [
          {
            "name": "format_values",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "If precentage values have to be returned as string, example: '50%' (enabled by default for backwards compatability)",
              "default": true,
              "title": "Format Values"
            },
            "description": "If precentage values have to be returned as string, example: '50%' (enabled by default for backwards compatability)"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Name of the player to get stats for",
              "title": "Name"
            },
            "description": "Name of the player to get stats for",
            "example": "iiTzArcur"
          },
          {
            "name": "playerid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "integer" }, { "type": "null" }],
              "description": "ID of the player to get stats for",
              "title": "Playerid"
            },
            "description": "ID of the player to get stats for",
            "example": 794397421
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Platform the player uses",
              "default": "pc",
              "title": "Platform"
            },
            "description": "Platform the player uses"
          }
        ],
        "responses": {
          "200": {
            "description": "stats of a player based on given name",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Bf3MainStats" },
                "example": {
                  "avatar": "https://secure.download.dm.origin.com/production/avatar/prod/userAvatar/21021222/208x208.PNG",
                  "userName": "iiTzArcur",
                  "rank": 45,
                  "rankImg": "https://cdn.gametools.network/bf3/045.png",
                  "rankName": "Colonel",
                  "skill": 444.4,
                  "scorePerMinute": 377,
                  "killsPerMinute": 0.83,
                  "winPercent": "52%",
                  "killDeath": 0.9,
                  "bestClass": "Assault",
                  "quits": "36%",
                  "accuracy": "12.61%",
                  "timePlayed": "3 days, 1:53:59",
                  "kills": 3688,
                  "deaths": 4101,
                  "wins": 121,
                  "loses": 111,
                  "avengerKills": 554,
                  "saviorKills": 360,
                  "heals": 17786,
                  "repairs": 204,
                  "killAssists": 485,
                  "id": 794397421
                }
              }
            }
          },
          "404": {
            "description": "if player cant be found while getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["playername not found"] }
              }
            }
          },
          "502": {
            "description": "if something went wrong getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["Failed to fetch data from source"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf3/weapons/": {
      "get": {
        "tags": ["Battlefield 3"],
        "summary": "Get weapon stats from the given player for bf3",
        "description": "Available options for platform: pc, ps3, xbox360.\n\nfor nametypes you only have to fill in one of them: name (normal playername), or playerid (same as id in what it returns - fastest method).\n\nif you dont know what you need to use, just use 'name', just fill the playername in there: **/stats/?name=iiTzArcur&platform=pc",
        "operationId": "bf3weapons_bf3_weapons__get",
        "parameters": [
          {
            "name": "format_values",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "If precentage values have to be returned as string, example: '50%' (enabled by default for backwards compatability)",
              "default": true,
              "title": "Format Values"
            },
            "description": "If precentage values have to be returned as string, example: '50%' (enabled by default for backwards compatability)"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Name of the player to get stats for",
              "title": "Name"
            },
            "description": "Name of the player to get stats for",
            "example": "iiTzArcur"
          },
          {
            "name": "playerid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "integer" }, { "type": "null" }],
              "description": "ID of the player to get stats for",
              "title": "Playerid"
            },
            "description": "ID of the player to get stats for",
            "example": 794397421
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Platform the player uses",
              "default": "pc",
              "title": "Platform"
            },
            "description": "Platform the player uses"
          }
        ],
        "responses": {
          "200": {
            "description": "weaponlist of the given player",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BattlelogWeaponInfo"
                },
                "example": {
                  "weapons": [
                    {
                      "weaponName": "Wex",
                      "type": "Field kit",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/tunguska/19/14/WEXFlammenwerfer-13f2b3af.png",
                      "kills": 1384,
                      "killsPerMinute": 1.33,
                      "accuracy": "25.9%",
                      "headshots": "0.0%"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if player cant be found while getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["playername not found"] }
              }
            }
          },
          "502": {
            "description": "if something went wrong getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["Failed to fetch data from source"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf3/vehicles/": {
      "get": {
        "tags": ["Battlefield 3"],
        "summary": "Get weapon stats from the given player for bf3",
        "description": "Available options for platform: pc, ps3, xbox360.\n\nfor nametypes you only have to fill in one of them: name (normal playername), or playerid (same as id in what it returns - fastest method).\n\nif you dont know what you need to use, just use 'name', just fill the playername in there: **/stats/?name=iiTzArcur&platform=pc",
        "operationId": "bf3vehicles_bf3_vehicles__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Name of the player to get stats for",
              "title": "Name"
            },
            "description": "Name of the player to get stats for",
            "example": "iiTzArcur"
          },
          {
            "name": "playerid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "integer" }, { "type": "null" }],
              "description": "ID of the player to get stats for",
              "title": "Playerid"
            },
            "description": "ID of the player to get stats for",
            "example": 794397421
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Platform the player uses",
              "default": "pc",
              "title": "Platform"
            },
            "description": "Platform the player uses"
          }
        ],
        "responses": {
          "200": {
            "description": "vehiclelist of the given player",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BattlelogVehicleStats"
                },
                "example": {
                  "vehicles": [
                    {
                      "vehicleName": "A7v heavy tank",
                      "type": "Heavy tank",
                      "image": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/65/64/GERA7V-bfc09237.png",
                      "kills": 102,
                      "killsPerMinute": 0.49,
                      "destroyed": 4,
                      "timeIn": 3050
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if player cant be found while getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["playername not found"] }
              }
            }
          },
          "502": {
            "description": "if something went wrong getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["Failed to fetch data from source"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf3/all/": {
      "get": {
        "tags": ["Battlefield 3"],
        "summary": "Get all stats for website",
        "description": "Available options for platform: pc, ps3, xbox360.\n\nfor nametypes you only have to fill in one of them: name (normal playername), or playerid (same as id in what it returns - fastest method).\n\nif you dont know what you need to use, just use 'name', just fill the playername in there: **/stats/?name=iiTzArcur&platform=pc",
        "operationId": "bf3All_bf3_all__get",
        "parameters": [
          {
            "name": "format_values",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "If precentage values have to be returned as string, example: '50%' (enabled by default for backwards compatability)",
              "default": true,
              "title": "Format Values"
            },
            "description": "If precentage values have to be returned as string, example: '50%' (enabled by default for backwards compatability)"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Name of the player to get stats for",
              "title": "Name"
            },
            "description": "Name of the player to get stats for",
            "example": "iiTzArcur"
          },
          {
            "name": "playerid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "integer" }, { "type": "null" }],
              "description": "ID of the player to get stats for",
              "title": "Playerid"
            },
            "description": "ID of the player to get stats for",
            "example": 794397421
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Platform the player uses",
              "default": "pc",
              "title": "Platform"
            },
            "description": "Platform the player uses"
          }
        ],
        "responses": {
          "200": {
            "description": "stats of a player based on given name",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Bf3Combined" },
                "example": {
                  "avatar": "https://secure.download.dm.origin.com/production/avatar/prod/userAvatar/21021222/208x208.PNG",
                  "userName": "iiTzArcur",
                  "rank": 64,
                  "rankImg": "https://cdn.gametools.network/bf4/64.png",
                  "rankName": "Chief Warrant Officer Three IV",
                  "scorePerMinute": 744,
                  "killsPerMinute": 0.48,
                  "winPercent": "53%",
                  "killDeath": 0.88,
                  "bestClass": "Assault",
                  "quits": "48%",
                  "accuracy": "9.88%",
                  "headshots": "16.7%",
                  "timePlayed": "3 days, 17:42:11",
                  "kills": 2593,
                  "deaths": 2950,
                  "wins": 89,
                  "loses": 78,
                  "avengerKills": 363,
                  "saviorKills": 289,
                  "headShots": 433,
                  "heals": 3062,
                  "repairs": 43,
                  "killAssists": 349,
                  "id": 794397421,
                  "weapons": [
                    {
                      "weaponName": "sar-21",
                      "type": "Assault Rifles",
                      "image": "https://cdn.gametools.network/weapons/bf4/white/SAR21_lineart.png",
                      "altImage": "https://cdn.gametools.network/weapons/bf4/black/SAR21_lineart.png",
                      "kills": 933,
                      "killsPerMinute": 0.92,
                      "accuracy": "13.44%",
                      "headshots": "17.58%"
                    }
                  ],
                  "vehicles": [
                    {
                      "vehicleName": "BTR-90",
                      "type": "Infantry Fighting Vehicle",
                      "image": "https://cdn.gametools.network/vehicles/bf4/white/BTR90_lineart.png",
                      "altImage": "https://cdn.gametools.network/vehicles/bf4/black/BTR90_lineart.png",
                      "kills": 0,
                      "killsPerMinute": 0,
                      "destroyed": 0,
                      "timeIn": 0
                    }
                  ],
                  "platoon": {
                    "tag": "T4F",
                    "emblem": "http://eaassets-a.akamaihd.net/battlelog/prod/emblem/245/406/256/2955059195859531213.png?v=1458761556",
                    "type": "Platoon",
                    "url": "https://battlelog.battlefield.com/bf4/platoons/view/1564738352601203222"
                  },
                  "currentRankProgress": 67670,
                  "totalRankProgress": 110000
                }
              }
            }
          },
          "404": {
            "description": "if player cant be found while getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["playername not found"] }
              }
            }
          },
          "502": {
            "description": "if something went wrong getting stats",
            "content": {
              "application/json": {
                "example": { "errors": ["Failed to fetch data from source"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf3/statusarray/": {
      "get": {
        "tags": ["Battlefield 3"],
        "summary": "Get the player- / serveramount for all regions from database gathered every hour.",
        "operationId": "printLoggedData_bf3_statusarray__get",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 30,
              "minimum": 1,
              "description": "Number of days to get historic values for",
              "default": 7,
              "title": "Days"
            },
            "description": "Number of days to get historic values for"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [
                { "$ref": "#/components/schemas/FrostbiteRegionsWithMultiple" }
              ],
              "description": "Region to get historic values for",
              "default": "all",
              "title": "Region"
            },
            "description": "Region to get historic values for"
          }
        ],
        "responses": {
          "200": {
            "description": "start and end time are EPOCH UTC timestamps, the arrays below it are from start to end time every hour as a value",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusArray" },
                "example": {
                  "data": {
                    "serverAmount": [0, 0, 0, 0],
                    "soldierAmount": [0, 0, 0, 0],
                    "queueAmount": [0, 0, 0, 0],
                    "spectatorAmount": [0, 0, 0, 0],
                    "timeStamps": [
                      "2021-07-05T11:00:00+00:00",
                      "2021-07-05T12:00:00+00:00",
                      "2021-07-05T13:00:00+00:00",
                      "2021-07-05T14:00:00+00:00"
                    ],
                    "start": 1606672800,
                    "end": 1609264800
                  }
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting statusgraph",
            "content": {
              "application/json": {
                "example": { "errors": ["Error connecting to the database"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf3/serverarray/": {
      "get": {
        "tags": ["Battlefield 3"],
        "summary": "Get the servers playeramount over time",
        "operationId": "loggedServerData_bf3_serverarray__get",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 7,
              "minimum": 1,
              "description": "Number of days to get historic values for",
              "default": 7,
              "title": "Days"
            },
            "description": "Number of days to get historic values for"
          },
          {
            "name": "gameid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Gameid"
            }
          },
          {
            "name": "serverid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Serverid"
            }
          },
          {
            "name": "servername",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Servername"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "pc", "title": "Platform" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf3/status/": {
      "get": {
        "tags": ["Battlefield 3"],
        "summary": "Get the player- / serveramount for all regions.",
        "operationId": "status_bf3_status__get",
        "responses": {
          "200": {
            "description": "a list of how many people are playing the game in that region",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GameStatus" },
                "example": {
                  "regions": [
                    {
                      "region": "OC",
                      "modes": {
                        "Possession": 1,
                        "Breakthrough": 2,
                        "ZoneControl": 2,
                        "TeamDeathMatch": 9,
                        "AirAssault": 2,
                        "Conquest": 112,
                        "BreakthroughLarge": 20,
                        "Domination": 3,
                        "TugOfWar": 15,
                        "Rush": 1
                      },
                      "maps": {
                        "Tsaritsyn": 2,
                        "FortDeVaux": 4,
                        "VerdunHeights": 2,
                        "VolgaRiver": 6,
                        "Rupture": 3,
                        "RiverSomme": 1,
                        "ŁupkówPass": 2,
                        "Albion": 7,
                        "LondonCalling:Scourge": 2,
                        "Zeebrugge": 4,
                        "Giant'sShadow": 3,
                        "Caporetto": 2,
                        "NivelleNights": 1,
                        "Passchendaele": 2,
                        "Razor'sEdge": 1,
                        "MonteGrappa": 10,
                        "HeligolandBight": 3,
                        "BallroomBlitz": 10,
                        "Amiens": 20,
                        "ArgonneForest": 6,
                        "AchiBaba": 11,
                        "LondonCalling:Raiders": 1,
                        "StQuentinScar": 6,
                        "Soissons": 5,
                        "Empire'sEdge": 4,
                        "PrisedeTahure": 2,
                        "BrusilovKeep": 5,
                        "FaoFortress": 7,
                        "SinaiDesert": 30,
                        "Galicia": 1,
                        "CapeHelles": 4,
                        "Suez": 4
                      },
                      "amounts": {
                        "communityQueueAmount": 65,
                        "spectatorAmount": 23,
                        "diceSpectatorAmount": 1,
                        "queueAmount": 94,
                        "soldierAmount": 5601,
                        "diceQueueAmount": 29,
                        "communitySpectatorAmount": 22,
                        "communitySoldierAmount": 3101,
                        "diceServerAmount": 73,
                        "serverAmount": 167,
                        "communityServerAmount": 94,
                        "diceSoldierAmount": 2500
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting status",
            "content": {
              "application/json": {
                "example": { "errors": ["Error connecting to the database"] }
              }
            }
          }
        }
      }
    },
    "/bf4/servers/": {
      "get": {
        "tags": ["Battlefield 4"],
        "summary": "Get a list of servers based on given name",
        "description": "The regions available are: all (all regions), eu, asia, nam (north america), sam (south america), au (Australia) or oc (Oceana).\n                    For platform there is pc, xboxone and ps4 (cache of 10 seconds)\n                    Limit is the max amount of servers it will gather, give it a number between 1 and 100.\n                    For player filter you can use oneToFive, sixToTen, tenPlus or none, comma seperated list is also a option example: \"&player_filters=onetofive,sixtoten\" to filter on the amount of free slots.\n                    Same for gamemode filter as with player filter but with the name of the gamemode",
        "operationId": "bf4servers_bf4_servers__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the server you want to search for",
              "title": "Name"
            },
            "description": "Name of the server you want to search for",
            "example": "BoB"
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/FrostbitePlatforms" }],
              "description": "Platform of the server you want to search for",
              "default": "pc",
              "title": "Platform"
            },
            "description": "Platform of the server you want to search for"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 250,
              "minimum": 1,
              "description": "Number of servers to return",
              "default": 10,
              "title": "Limit"
            },
            "description": "Number of servers to return"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "all", "title": "Region" }
          },
          {
            "name": "gamemode_filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Gamemode Filters"
            }
          },
          {
            "name": "player_filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Player Filters"
            }
          },
          {
            "name": "is_password_protected",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "title": "Is Password Protected" }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "default": "en-us",
              "title": "Lang"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "serverlist based on given name",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Bf4Search" },
                "example": {
                  "servers": [
                    {
                      "prefix": "BoB#1 All Maps CQ",
                      "serverInfo": "64/64",
                      "inQue": 1,
                      "smallMode": "",
                      "url": "https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Tunguska/33/68/MP_River_LandscapeLarge-21443ae9.jpg",
                      "mode": "Conquest",
                      "currentMap": "Caporetto",
                      "playerAmount": 64,
                      "maxPlayerAmount": 64
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "if something went wrong getting the serverlist",
            "content": {
              "application/json": {
                "example": { "errors": ["error getting server info"] }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/bf4/detailedserver/": {
      "get": {
        "tags": ["Battlefield 4"],
        "summary": "Get detailed info about 1 server",
        "description": "For platform there is pc, xboxone and ps4. players is only for pc (has longer cache, 1 mins)",
        "operationId": "bf4detailedserver_bf4_detailedserver__get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Name of the server you want to search for",
              "title": "Name"
            },
            "description": "Name of the server you want to search for",
            "example": "BoB"
          },
          {
            "name": "gameid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Id of the server you want to search for",
              "title": "Gameid"
            },
            "description": "Id of the server you want to search for"
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/FrostbitePlatforms" }],
              "description": "Platform of the server you want to search for",
              "default": "pc",
              "title": "Platform"
            },
            "description": "Platform of the server you want to search for"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "default": "en-us",
              "title": "Lang"
            }
          }
        ],
[...]
